<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Govtech</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/templates/cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">GovTech Mini Project</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="http://localhost:8081/results">Results</a>
                <a class="nav-link" href="http://localhost:8081/admin">Admin</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Where to Eat?</h1>
        <p class="lead">This application will decide where!</p>
        <p class="lead">
        <div class="cover-container d-flex w-25 h-100 p-3 mx-auto">
            <form action="#" th:action="@{/submitChoice}" th:object="${userForm}" method="post">
                <div class="form-group row">
                    <label for="participant">Username</label>
                    <input type="text" class="form-control" id="participant" th:field="*{name}" placeholder="Your name">
                </div>
                <div class="form-group row">
                    <label for="inputSessionId">Session ID</label>
                    <input type="text" class="form-control" id="inputSessionId" th:field="*{sessionId}" placeholder="Enter an active lunchSession ID">
                </div>
                <div class="form-group row">
                    <label for="restaurant">Where do you want to Eat?</label>
                    <input type="text" class="form-control" id="restaurant" th:field="*{restaurant}" placeholder="Enter the restaurant of your choice">
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary d-block mr-1">Submit</button>
                </div>
                <div class="row">
                    <span th:text="${response}"></span>
                </div>
            </form>
        </div>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a></p>
    </footer>
</div>



</body>
</html>
